@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Salvatore Sorrentinooooo</p>
<p>@Model.Saluto</p>
<p>@Model.Saluto2</p>
<p>Dettaglio Policy</p>
